

header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
}

#another-lamp {
    width: 200px;
    margin-top: 50px;
    background-color: rgb(14, 216, 14);
    display: none;
}